<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include menu %>
    
    <% entries.forEach(function(entry, index) { %>
        <div class='entry-for-edit'>
            <div>
                <a><%= entry.title %></a>
            </div>
            <% var link = "/posts/".concat(index, "/edit");  %>
            <a href="<%= link%>">Edit</a>
            |
            <a>Delete</a>
        </div>
    <% }) %>    
</body>
</html>

