body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.entry-for-edit {
    margin-top: 10px;
}

/* Editing a post   */

.edit-post textarea {
    width: 650px;
    height: 550px;
}